<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="email">



    <select id="selectEmail" statementType="PREPARED"
            resultType="String">
        select rg.email
        from register rg right outer join
             buylist bl on rg.mno = bl.mno
        where bl.buystat = 1;
    </select>

    <select id="selectName" statementType="PREPARED"
            resultType="String">
        select rg.name
        from register rg right outer join
             buylist bl on rg.mno = bl.mno
        where bl.buystat = 1;
    </select>

    <select id="selectTitle" statementType="PREPARED"
            resultType="String">
        select bl.title
        from register rg right outer join
             buylist bl on rg.mno = bl.mno
        where bl.buystat = 1;
    </select>

    <update id="updateEmailStat" statementType="PREPARED">
        update register rg right outer join
            buylist bl on rg.mno = bl.mno set bl.buystat = 3
        where bl.buystat = 1;
    </update>



    <update id="updateSussStat" statementType="PREPARED">
        update pdetail set sellstat = 1
        where /*current_timestamp > edate and*/ party = cpartied;
    </update>


    <update id="updateFailStat" statementType="PREPARED">
        update pdetail set sellstat = 2
        where current_timestamp > edate and party != cpartied;
    </update>


    <update id="updateSussBuy" statementType="PREPARED">
        update buylist bl
            left outer join pdetail p on bl.pno = p.pno
        set buystat = 1
        where p.cpartied = p.party /*and current_timestamp > p.edate and current_timestamp > bl.edate */ and buystat != 3;
    </update>

    <update id="updateFailBuy" statementType="PREPARED">
        update buylist bl
               left outer join pdetail p on bl.pno = p.pno
        set buystat = 2
        where p.cpartied != p.party and current_timestamp > p.edate and current_timestamp > bl.edate;
    </update>




</mapper>