<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sellbuy">

    <insert id="insertSale" statementType="PREPARED"
            parameterType="tool82.spring.project.vo.Product">
        insert into pdetail (userid, category, title, party, cpartied, sdate, edate,
                             email, oprice, sprice, contents, fnames, uuid)
        values (#{userid}, #{category}, #{title},#{party}, #{cpartied}, #{sdate}, #{edate},
                #{email},#{oprice},#{sprice},#{contents}, #{fnames}, #{uuid});
    </insert>

    <select id = "selectBuy" statementType="PREPARED"
            parameterType="map"
            resultType="tool82.spring.project.vo.Buylist">
        select pno, title, category, bdate, edate, sprice, buystat
        from buylist
        where mno = #{MNO}
        order by bdate desc limit #{snum}, 10;
    </select>

    <select id = "selectSell" statementType="PREPARED"
            parameterType="map"
            resultType="tool82.spring.project.vo.Sellist">
        select pno, title, category, edate, sprice, sellstat
        from pdetail
        where mno = #{MNO}
        order by edate desc limit #{snum}, 10;
    </select>


    <select id="findSelectSell" statementType="PREPARED"
            parameterType="map"
            resultType="tool82.spring.project.vo.Sellist">
        select * from pdetail
        <if test="ftype == 'buying'">
            where sellstat like 0 and title like concat('%', #{fkey}, '%') </if>
        <if test="ftype == 'buysuss'">
            where sellstat like 1 and title like concat('%', #{fkey}, '%') </if>
        <if test="ftype == 'buyfail'">
            where sellstat like 2 and title like concat('%', #{fkey}, '%') </if>
        <if test="ftype == 'video'">
            where category like 'v' and title like concat('%', #{fkey}, '%') </if>
        <if test="ftype == 'music'">
            where category like 'm' and title like concat('%', #{fkey}, '%') </if>
        <if test="ftype == 'util'">
            where category like 'u' and title like concat('%', #{fkey}, '%') </if>
        <if test="ftype == 'game'">
            where category like 'g' and title like concat('%', #{fkey}, '%') </if>
        and mno = #{MNO}
        order by edate desc;
    </select>

    <select id="findSelectBuy" statementType="PREPARED"
            parameterType="map"
            resultType="tool82.spring.project.vo.Buylist">
        select * from buylist
        <if test="ftype == 'buying'">
            where buystat like 0 and title like concat('%', #{fkey}, '%') </if>
        <if test="ftype == 'buysuss'">
            where buystat like 1 and title like concat('%', #{fkey}, '%') </if>
        <if test="ftype == 'buyfail'">
            where buystat like 2 and title like concat('%', #{fkey}, '%') </if>
        <if test="ftype == 'video'">
            where category like 'v' and title like concat('%', #{fkey}, '%') </if>
        <if test="ftype == 'music'">
            where category like 'm' and title like concat('%', #{fkey}, '%') </if>
        <if test="ftype == 'util'">
            where category like 'u' and title like concat('%', #{fkey}, '%') </if>
        <if test="ftype == 'game'">
            where category like 'g' and title like concat('%', #{fkey}, '%') </if>
        and mno = #{MNO}
        order by edate desc;
    </select>

    <select id="countSell" statementType="PREPARED"
            parameterType="String"
            resultType="int">
        select count(pno) cnt from pdetail
        where mno = #{MNO}
    </select>

    <select id="countBuy" statementType="PREPARED"
            parameterType="String"
            resultType="int">
        select count(byno) cnt from buylist
        where mno = #{MNO}
    </select>

    <select id="findCountSell" statementType="PREPARED"
            parameterType="map" resultType="int">
        select count(pno) cnt from pdetail
        <if test="ftype == 'selling'">
            where sellstat like 0 and title like concat('%', #{fkey}, '%') </if>
        <if test="ftype == 'sellsuss'">
            where sellstat like 1 and title like concat('%', #{fkey}, '%') </if>
        <if test="ftype == 'sellfail'">
            where sellstat like 2 and title like concat('%', #{fkey}, '%') </if>
        <if test="ftype == 'video'">
            where category like 'v' and title like concat('%', #{fkey}, '%') </if>
        <if test="ftype == 'music'">
            where category like 'm' and title like concat('%', #{fkey}, '%') </if>
        <if test="ftype == 'util'">
            where category like 'u' and title like concat('%', #{fkey}, '%') </if>
        <if test="ftype == 'game'">
            where category like 'g' and title like concat('%', #{fkey}, '%') </if>
        and mno = #{MNO}
    </select>

    <select id="findCountBuy" statementType="PREPARED"
            parameterType="map" resultType="int">
        select count(byno) cnt from buylist
        <if test="ftype == 'buying'">
            where buystat like 0 and title like concat('%', #{fkey}, '%') </if>
        <if test="ftype == 'buysuss'">
            where buystat like 1 and title like concat('%', #{fkey}, '%') </if>
        <if test="ftype == 'buyfail'">
            where buystat like 2 and title like concat('%', #{fkey}, '%') </if>
        <if test="ftype == 'video'">
            where category like 'v' and title like concat('%', #{fkey}, '%') </if>
        <if test="ftype == 'music'">
            where category like 'm' and title like concat('%', #{fkey}, '%') </if>
        <if test="ftype == 'util'">
            where category like 'u' and title like concat('%', #{fkey}, '%') </if>
        <if test="ftype == 'game'">
            where category like 'g' and title like concat('%', #{fkey}, '%') </if>
        and mno = #{MNO}
    </select>


</mapper>