<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sale">

    <insert id="insertSale" statementType="PREPARED"
            parameterType="map">
            insert into pdetail (mno, userid, category, title, party, edate,
                                 email, oprice, sprice, contents, fnames, uuid)
            values (#{MNO}, #{p.userid}, #{p.category}, #{p.title},#{p.party},
                    #{p.edate}, #{p.email},#{p.oprice},#{p.sprice},
                    #{p.contents}, #{p.fnames}, #{p.uuid});
    </insert>

    <update id="updateSellstat" statementType="PREPARED"
            parameterType="String">
        update pdetail set sellstat =
        <if test="DATEDIFF(#{edate}, current_date) leftd gte 0 and #{party} gt #{cpartied}">
            0
        </if>
        <if test="DATEDIFF(#{edate}, current_date) leftd lt 0 and #{party} eq #{cpartied}">
            1
        </if>
        <if test="DATEDIFF(#{edate}, current_date) leftd lt 0 and #{party} gt #{cpartied}">
            2
        </if>
        where pno = #{pno};
    </update>

    <select id="selectOneProd" statementType="PREPARED"
            parameterType="String"
            resultType="tool82.spring.project.vo.Product">
        select pno, userid, category, title, party, cpartied, email, substr(sdate, 1, 10) sdate, edate, oprice, sprice, contents, fnames,
               CAST( 100 - ( cast(sprice as float) / cast(oprice as float) )*100 as decimal ) pricert,
               CAST( ( cast(cpartied as float) / cast(party as float) )*100 as decimal ) partyrt,
               DATEDIFF(edate, current_date) leftd,
               uuid
        from pdetail
        where pno = #{pno}
    </select>

    <select id="readFname" statementType="PREPARED"
            parameterType="String"
            resultType="String">
        select fnames from pdetail where pno = #{pno}
    </select>

    <update id="updateSaleItem" statementType="PREPARED"
            parameterType="tool82.spring.project.vo.Product">
        update pdetail set category = #{category}, title = #{title}, party = #{party}, cpartied = #{cpartied},
        email = #{email}, edate = #{edate}, oprice = #{oprice},
        sprice = #{sprice}, contents = #{contents}, uuid = #{uuid}
        <if test="todie != ''">
            , fnames = #{fnames}
        </if>
        where pno = #{pno};
    </update>

    <delete id="deleteSaleItem" statementType="PREPARED"
            parameterType="map">
        delete from pdetail
        where pno = #{PNO} and mno = #{MNO}
    </delete>

</mapper>