.sale-badge {
    border-radius: 4px;
    font-size: 12px;
    line-height: 18px;
    padding: 2px 5px;
    white-space: nowrap;
    border: 1px solid #7e69fe;
    color: #7e69fe;
}
.sale-price {
    text-decoration: line-through;
    font-size: 20px;
    color: #E2E2E2;
}


.detail-sale-badge {
    font-size: 15px;
    white-space: nowrap;
    border-radius: 4px;
    background-color: rgba(200, 191, 231, 0.3);
    color: #7e69fe;
    line-height: 2px;
    padding: 6px 8px;
    text-transform: capitalize;
}



.bar-main-container {
    margin: 10px auto;
    width: 300px;
    height: 50px;
    border-radius: 4px;
    font-weight: normal;
    font-size: 0.8em;
    color: #7e69fe;
}



.bar-container {
    float: left;
    border-radius: 10px;
    height: 10px;
    background: rgba(0,0,0,0.13);
    width: 78%;
    margin: 12px 0px;
    overflow: hidden;
}

.bar {
    float: left;
    background: #7e69fe;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
    filter: alpha(opacity=100);
    opacity: 1;
}


a.top {
    color: ghostwhite;
    position: fixed;
    right: 5%;
    bottom: 50px;
    padding: 10px;
    display: none;
    background-color: #7e69fe;
    border-radius: 10px 10px 10px 10px;
}


#tryit {
    color: ghostwhite;
    background-color: #7e69fe;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
}
